# OS junk files
.DS_Store
[Tt]humbs.db

# Temp files
*~

# Project files
.class
.classpath
.project
.settings/
target/
bin/
gen/
/build
.idea
*.iml

# Local configuration file (sdk path, etc)
local.properties

.springBeans
